html, body {
	margin: 0px;
	padding: 0px;
}
body, a, input, textarea, select, td {
	font-size: 12px;
	font: arial;
}
body, a {
	color: white;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
#topbar {
	background: url('images/topgradient.png') repeat-x;
	height: 56px;
}
#applicationTitle {
	text-align: center;
	color: black;
	font-weight: bold;
	font-size: 13px;
}
#search {
	width: 200px;
	padding-top: 10px;
	padding-left: 20px;
}
#search .searchLeft {
	background: url('images/searchLeft.png') no-repeat;
	width: 20px;
	height: 21px;
	float: left;
}
#search .searchRight {
	background: url('images/searchRight.png') no-repeat;
	width: 20px;
	height: 21px;
	float: right;
}
#search .search {
	background: url('images/searchCenter.png') repeat-x;
	width: 160px;
	border: 0px;
	height: 21px;
	vertical-align: center;
}

#leftbar {
	background-color: #474747;
	position: absolute;
	left: 0px;
	width: 240px;
	top: 56px;
	bottom: 42px;
}
#playingArt {
	background: url('images/noAlbum.png') no-repeat;
	position: absolute;
	left: 0px;
	width: 240px;
	height: 240px;
	bottom: 50px;
}
#playingArt img {
	width: 240px;
	height: 240px;
	border: 0px;
}
#playingText {
	background: url('images/playingGradient.png') repeat-x;
	position: absolute;
	left: 0px;
	width: 240px;
	height: 50px;
	bottom: 0px;
}
#playingText .playing {
	padding: 10px;
}
#playingText .playing .artist {
	font-weight: bold;
}
#center {
	background-color: #373737;
	position: absolute;
	left: 240px;
	right: 0px;
	top: 56px;
	bottom: 42px;
	overflow: auto;
}

#controls {
	background: url('images/controlsGradient.png') repeat-x;
	position: absolute;
	left: 0px;
	right: 0px;
	height: 42px;
	bottom: 0px;
}

/****************************************************************
 *							Play progress						*
 ****************************************************************/
#progress {
	background-color: red;
	position: absolute;
	top: 17px;
	height: 10px;
	left: 300px;
	right: 80px;
}
#played {
	background: url('images/playedGradient.png') repeat-x;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
#position {
	background: url('images/playing.png') no-repeat;
	width: 9px;
	height: 10px;
	
	position: absolute;
	top: 0px;
	left: -4px;
	z-index: 1;
}
#play {
	background: url('images/playGradient.png') repeat-x;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
#controls .progressTime {
	font-size: 10px;
	position: absolute;
	top: 14px;
}
#controls .played {
	left: 260px;
}
#controls .duration {
    right: 53px;
}


#center table tr.odd {
	background-color: #313131;
}
span.duration, td.index {
	color: #999999;
}
/****************************************************************
 *								Search							*
 ****************************************************************/
.searchTop div.images, .browseTop div.images {
	overflow: hidden;
	width: 10000px;
}
.searchTop .Albums, .searchTop .Artists, .browseTop .Artists {
	height: 141px;
	overflow: hidden;
} 
.searchTop img, .browseTop img {
	width: 60px;
	height: 60px;
}
.searchTop td, .browseTop td {
	vertical-align: top;
}
.searchTop ol li, .searchTop ol li a, .browseTop ol li, .browseTop ol li a {
	display: inline;	
	color: #999999;
}
.searchTop ol li .albumandartist .artist, .searchTop ol li .albumandartist .artist a {
	color: #666666;
}
.searchTop li.title {
	color: #FFF;
}
.searchTop ol, .browseTop ol {
	list-style: none outside none; 
	padding: 10px;	
}
 
table.searchResults, table.searchTop {
	width: 100%;
	table-layout: fixed;	
}
table.searchTop td { width: 50%; }
table.searchResults .track      { }
table.searchResults .artist     { width: 15%; }
table.searchResults .time       { width: 40px; }
table.searchResults .popularity { width: 70px; }
table.searchResults .album      { width: 30%; }
tr.searchHead {
	background: url("images/searchGradient.png") repeat-x scroll 0 0 transparent;
	color: black;
}

/****************************************************************
 *								Browse							*
 ****************************************************************/
.browse table.browseTop {
	width: 100%;
	table-layout: fixed;
}
table.browseTop td { width: 50%; }
.bio img {
	width: 130px;
	height: 130px;
	float: left;
	padding: 15px;
}
.artistname, .relatedArtists {
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 10px;
	padding-top: 15px;
}
.bio {
	padding-right: 20px;
}
.bio .text {
	height: 102px;
	overflow: hidden;
	color: #999999;
}

.browse div.label {
	height: 23px;
	background: url('images/browseGradient.png') repeat-x;
	color: #D7D7D7;

	font-size: 15px;
    font-weight: bold;
    padding-left: 15px;	
    margin-bottom: 15px;
}

.browse table {
	padding-left: 30px;
    width: 865px;
}
.browse img.left  {
	float: left;
	padding-left: 35px;
}

.browse td.index { width: 27px; }
.browse td.track { }
.browse td.artist { }
.browse td.duration { width: 40px; }
.browse td.popularity { width: 40px; }

.spacer {
	clear: both;
	padding-bottom: 20px;
}

.browse div.album {
	padding-bottom: 20px;
}

.browse div.album img.cover {
	width: 130px;
	height: 130px;
}
.browse div.albumTitle {
	padding-left: 198px;
	font-size: 15px;
	padding-bottom: 10px;
}
.browse div.albumTitle span.year {
	color: #999999;
	padding-left: 25px;
}